<div class="navbar2">
    <a (click)="logout()" *ngIf="isloggedin">Logout</a>
    <a (click)="profile()">My Profile</a>
    <a routerLink="/add-admin">Add Admin</a>
    <a routerLink="/calc-fine">Calculate Fine</a>
    <a href="#news">Requests</a>
    <a href="#news">Issues</a>
 
    <div class="dropdown">
      <button class="dropbtn">Books
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a routerLink="">View Books</a>
        <a routerLink="/add-book">Add Book</a>
      </div>
    </div>
  </div>