<p>issues-user works!</p>




<!-- <p>request-user works!</p -->


    <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    

    <table>
        <tr id="header">
            <th>Issue ID</th>
            <th>Issue_Date</th>
            <th>Return Date</th>
            <th>Fine</th>
            <th>Action</th>
        </tr>
        <tr *ngFor="let issue of list">
            <td>{{issue.ISSUE_ID}}</td>
            <td>{{issue.ISSUE_DATE}}</td>
            <td>{{issue.RETURN_DATE}}</td>

            <td>{{calculateFine(issue.RETURN_DATE)}}</td>
            <td>
                <button  (click)="returnBook(issue.ISSUE_ID,issue.REQUEST_ID)" style="background-color: #bd4f6c;
                background-image :linear-gradient(326deg, #bd4f6c 0%, #d7816a 74%); ">Return</button>
            </td>
        </tr>
        
        <!-- <tr>
            <td>{{request.request_id}}</td>
            <td>{{request.user_id}}</td>
            <td>{{request.book_id}}</td>
            <td>{{request.request_status}}</td>
            <td>{{request.availableBook}}</td>
            <td>
                <button (click)="approve(request.request_id)"   [disabled]="request.availableBook<=0">approve</button>    
            </td>
            <td>
                <button (click)="cancel(request.request_id)" >cancel</button>    
            </td>
        </tr> -->

    </table>

</body>
</html>

