<app-nav-bar-user></app-nav-bar-user>
<html>
    <meta charset="utf-8">
    <title>Sign in form</title>
    <body>
        <div class="center">
            <h1 style="font-size: large;">Start Now!</h1>
            <form #signup="ngForm" (ngSubmit)="onSubmit(signup.value)">
                <div class="txt_field">
                    <input type="text" name="username" ngModel required #username="ngModel"> <br>
                    <label>Email Full Name</label>
                    <small [style.color]="username.touched && !username.valid ? 'red':'rgb(6, 252, 47)'">*Enter valid Name</small> <br>                       
                </div>
                <div class="txt_field">
                    <input type="text" name="useremail" ngModel email required #useremail="ngModel"> <br>
                    <label>Email Address</label>
                    <small [style.color]="useremail.touched && !useremail.valid ? 'red':'rgb(6, 252, 47)'">*Enter valid Email</small> <br>                       
                </div>
                <div class="txt_field">
                    <input type="password" name="password" ngModel required minlength="6" #password="ngModel"> <br>
                    <label>Password</label>
                    <small [style.color]="password.touched && !password.valid ? 'red':'rgb(6, 252, 47)'">Greater than 6</small> <br>            
                </div>
                <div class="txt_field">
                    <input type="text" name="usergender" ngModel required #usergender="ngModel"> <br>
                    <label>Gender</label>                    
                    <small [style.color]="usergender.touched && !usergender.valid ? 'red':'rgb(6, 252, 47)'">*Enter your Gender</small> <br>                       
                </div>
                <div class="txt_field">
                    <input type="number" name="userage" ngModel required #userage="ngModel"> <br>
                    <label>Email your age</label>
                    <small [style.color]="userage.touched && !userage.valid ? 'red':'rgb(6, 252, 47)'">*Enter valid age</small> <br>                       
                </div>
                <div class="txt_field">
                    <input type="date" name="userDOB" ngModel required #userDOB="ngModel"> <br>
                    <label>Email your DOB</label>
                    <small [style.color]="userDOB.touched && !userDOB.valid ? 'red':'rgb(6, 252, 47)'">*Enter valid DOB</small> <br>                       
                </div>
                <div class="txt_field">
                    <input type="text" name="useradress" ngModel  required #useradress="ngModel"> <br>
                    <label>Address</label>
                    <small [style.color]="useradress.touched && !useradress.valid ? 'red':'rgb(6, 252, 47)'">*Enter valid Address</small> <br>                       
                </div>
                <div class="txt_field">
                    <input type="number" name="usercontact" ngModel required #usercontact="ngModel"> <br>
                    <label>Email your contact number</label>
                    <small [style.color]="usercontact.touched && !usercontact.valid ? 'red':'rgb(6, 252, 47)'">*Enter valid Mobile no.</small> <br>                       
                </div>
                <button class="btn-primary" type="submit" [disabled]="!signup.valid" name="btn">SignUp</button>
                <div class="signup_link">Already a member? <a routerLink="/signIn">SignIn</a></div>  
            </form>
        </div>
                
    </body>
</html>