 <h1>Forgot Password</h1>
    <hr>
<div style="justify-content: center; display: flex;">
<form #forgot="ngForm" (ngSubmit)="onSubmit(forgot)" *ngIf="emailshow" >
    <label> Email</label><br><input type="email" required ngModel name="email"><br><br>
    <input type="submit">
</form>

<form #update="ngForm" (ngSubmit)="updatepass(update)" *ngIf="show" >
    <label>DOB</label><br><input type="date" required ngModel name="dob"><br><br>
    <label>New Password</label><br><input type="password" required minlength="6" ngModel name="password"><br><br>
    <input type="submit">
</form>

</div>